.filtering {
  margin-bottom: 1%;
  padding-bottom: 0.5%;
  background-color: rgba(199, 199, 199, 0.5);
  border-bottom: 2px solid #333333;
}

#nearest-restaurant,
#city-select,
#company-select {
  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
  border: 2px solid #333333;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

#company-select {
  background-color: #ff6f61; /* Coral */
}
#city-select {
  background-color: #4682b4;
}
#nearest-restaurant {
  background-color: #3cb371;
}

#nearest-restaurant:hover,
#city-select:hover,
#company-select:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

option {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}
