html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-bottom: 100%;
  color: #333333;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #4caf50;
  border-bottom: 2px solid #333333;
  font-size: 100%;
  transition-duration: 0.5s;
}

#page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
#page-title:hover {
  color: #ffc107;
  -webkit-text-stroke: 1px #333333;
}

header p {
  color: #ffffff;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
