html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll;
}

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-bottom: 100%;
  color: #333333;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #4caf50;
  border-bottom: 2px solid #333333;
  font-size: 100%;
  transition-duration: 0.5s;
}

#page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
#page-title:hover {
  color: #ffc107;
  -webkit-text-stroke: 1px #333333;
}
header p {
  color: #ffffff;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20%;
}

header .header-buttons button {
  height: 40px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
}
header .header-buttons button:hover {
  color: #333333;
  background-color: #1976d2;
  transition: color 0.3s, color 0.3s;
}

.center-body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 600px;
  z-index: 1;
  background: transparent;
  border-bottom: 1px solid #000000;
}
.table-container {
  max-height: 100%;
  overflow-y: auto;
  width: 120%;
  border: 1px solid #ccc;
  border-right: 2px solid #333333;
}
#restaurant-info {
  text-align: left;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 100px 0;
  flex-direction: column;
  position: absolute;
  right: 5%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

#restaurant-box {
  width: 100%;
  border-collapse: collapse;
}
#restaurant-box thead {
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: left;
  background-color: #4caf50;
  border-bottom: 1px solid #333333;
}

#restaurant-box th {
  border-bottom: 1px solid #333333;
  padding: 0.5em 1em;
}

#restaurant-box tr {
  height: 2%;
}

#restaurant-box td {
  border-bottom: 1px solid #333333;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#restaurant-box tr:nth-child(odd) {
  background-color: #ffffff;
}

#restaurant-box tr:nth-child(even) {
  background-color: #f1f1f1;
}

#restaurant-box tr.highlight {
  background-color: #ffc107;
  font-weight: bold;
  color: #333333;
}

#restaurant-box tr.highlight td {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #333333;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#login-modal {
  height: 300px;
  width: 300px;
  padding: 0;
  background-color: #ffffff;
  position: fixed;
  top: 12%;
  left: 73%;
  z-index: 1000;
  border: 1px solid #000000;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#menu {
  display: grid;
  padding-top: 2%;
  border-collapse: collapse;
  table-layout: fixed;
}

.week-day-names {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 1%;
}

#menu a {
  color: #ffffff;
  font-weight: normal;
  padding: 0.5em 1em;
  font-weight: bolder;
  background-color: #4caf50;
  border-radius: 10%;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

#menu a:hover {
  background-color: #225324;
  color: #ffffff;
}

#menu a.highlight {
  color: #ffffff;
  background-color: #ffc107;
}

#menu a.highlight:hover {
  background-color: #ffb300;
  color: #333333;
}

.selected-day-menu {
  text-align: center;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
.course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-left: 20%;
  margin-right: 15%;
}

.course p {
  text-align: left;
}
