html {
  font-family: monospace;
  font-size: x-large;
  overflow-y: scroll;
}

body {
  font-family: monospace;
  font-size: x-large;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-bottom: 20%;
  color: #333333;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #4caf50;
  border-bottom: 2px solid #333333;
  font-size: 100%;
  transition-duration: 0.5s;
}

#page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
#page-title:hover {
  color: #ffc107;
  -webkit-text-stroke: 1px #333333;
}
header p {
  color: #ffffff;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20%;
}

header .header-buttons button {
  height: 40px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
  border-radius: 5px;
  padding: 0 10px;
}
header .header-buttons button:hover {
  color: #333333;
  background-color: #1976d2;
  transition: color 0.3s, color 0.3s;
}

#login {
  text-decoration: none;
  height: 40px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0 10px;
}

#login:hover {
  color: #333333;
  background-color: #1976d2;
  transition: color 0.3s, color 0.3s;
}

.register-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  border: 1px solid #b3b3b3;
  margin: 0 auto;
  background: linear-gradient(135deg, #ffffff, #e0e0e0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#register-form {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 10px;
}

#register-form input {
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#register-form input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

#register-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#register-form button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

strong {
  color: red;
  border-color: #b94a4a;
  box-shadow: 0 0 5px rgba(242, 113, 113, 0.5);
}
